<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonkeyNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>862566331C94106200BC131D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8625664C1C94106300BC131D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862566571C94106300BC131D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862E6A7A1C9D5F87004A2594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
